* {
    font-family: monospace;            /* Iedod VISAM tekstam mājaslapā noteikto fontu */
}
html {
    scroll-behavior: smooth;           /* Nodrošina to, ka automātiskais scrolls izskatīsies labi (neteleportēsies) */
}
body {
    margin: 0;
    overflow-x: hidden;
    
    background-image: url("https://wallpapercave.com/wp/wp7925786.jpg");        /* Iedod pirmo fonu */
    background-repeat: no-repeat;
    background-size: 100vw 865px;
    background-attachment: fixed;
}


/* /////////////////////// Misc //////////////////////////// */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: rgb(208, 240, 240);;
    box-shadow: inset 0 0 5px black
}
::-webkit-scrollbar-thumb {
    background: rgb(178, 250, 250);;
    box-shadow: inset 0 0 8px rgb(0, 0, 134);
}
/* /////////////////////// Misc //////////////////////////// */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvv Navigation bar CSS vvvvvvvvvvvvvvvvvvvvvvvvvvvv */

header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
}

ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

li {
    transition: transform 0.5s;
}

        /* vvvvvvvvvvvvvvvvvvvvvvvvvvvv Animations for the header vvvvvvvvvvvvvvvvvvvvvvvvvvvv */
.homeButton:hover {
    transform: translateX(-13px) rotate(-3.5deg) scale(1.1);
    list-style: none;
}
.aboutButton:hover {
    transform: translateX(-7px) rotate(-1.5deg) scale(1.1);
    list-style: none;
}
.workButton:hover {
    transform: translateX(7px) rotate(1.5deg) scale(1.1);
    list-style: none;
}
.misButton:hover {
    transform: translateX(13px) rotate(3.5deg) scale(1.1);
    list-style: none;
}
        /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Animations for the header ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(123, 207, 207), 0 0 40px rgb(123, 207, 207), 0 0 50px rgb(123, 207, 207), 0 0 60px rgb(123, 207, 207), 0 0 70px rgb(123, 207, 207);
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px rgb(178, 250, 250), 0 0 40px rgb(178, 250, 250), 0 0 50px rgb(178, 250, 250), 0 0 60px rgb(178, 250, 250), 0 0 70px rgb(178, 250, 250), 0 0 80px rgb(178, 250, 250);
    }
}


a {
    text-decoration: none;
    font-size: x-large;
    color: white;
    transition: color 0.3s;
}

a:hover {
    color: rgb(178, 250, 250);
    animation: glow 1s ease-in-out infinite alternate;
}

.burger {
    display: none;
}

.check {
    display: none;
}

@media (max-width: 600px) {
    .check {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        opacity: 0;
        cursor: pointer;
    }

    .burger {
        display: block;
    }

    ul {
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        background-color: black;
        margin: 0;
        width: 100vw;
        padding-left: 0;
        align-items: center;
        display: none;
    }
    
    li {
        padding-bottom: 20px;
    }

    .check:checked + ul {
        display: flex;
    }
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Navigation bar CSS ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvv Title and first photo vvvvvvvvvvvvvvvvvvvvvvvvvvvv */

main {
    margin-top: 80px;
    width: 100vw;
    height: 500px;
    color: white;
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.title {
    font-size: 25px;
    padding: 0;
    margin: 0;
}
.titleName {
    font-size: 60px;
    padding: 0;
    margin: 0;
}
.titlePhoto {
    width: 700px;
    height: 380px; 
    margin-left: 70px;
    border-radius: 40px;
    transition: 0.4s;
}

.titlePhoto:hover {
    transform: scale(1.01) rotate(0.3deg);
    transition: 0.2s;
}

@media (max-width: 1300px) {
    main {
        height: auto;
        align-items: center;
    }
    .titlePhoto {
        margin: 20px 0 0 0;
    }
}
@media (max-width: 760px) {
    .titlePhoto {
        transform: scale(0) rotate(540deg);
        transition: 0.5s;
        width: 0px;
        height: 0px;
    }
    main {
        height: 500px;
    }
    .mainTitleHolder {
        width: 500px;
        height: 220px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 70px;
    }
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Title and first photo ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.gap {
    width: 100vw;
    height: 185px;
}
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvv About me portion vvvvvvvvvvvvvvvvvvvvvvvvvvvv */

#article-aboutMe {                  /* Izskats priekš "Par mani" sekcijas */
    margin-top: 100px;
    width: 100vw;
    height: 900px;
    
    display: flex;
    justify-content: center;
    align-items: center;            /* Izlīdzi objektus, lai tie būtu centrā */
    flex-wrap: wrap;
    flex-direction: row;

    background-image: url("https://wallpapercave.com/wp/wp8911831.jpg");    /* Iedod "Par mani" sekcijai fonu un tad fonam piešķir dažas īpašības*/
    background-size: cover;
    background-attachment: fixed;
}
.aboutMePhoto {                 /* Izskats priekš bildes iekš "Par mani" */
    width: 450px;
    height: 600px;
    margin-right: 70px;
    border-radius: 70px;
    transition: 2.5s;           /* Laiks, kurā bilde atkal pārādas*/
}
.aboutMePhoto:hover {
    opacity: 0;                     /* Kad tiek pārvilkts pāri bildei, tā lēnām izzūd */
    transform: rotate(540deg) scale(0);
    transition: 1.2s;               /* Laiks, kurā tas notiek */
}

.aboutMeInfoHolder {
    width: 500px;
    height: 300px;
    background-color: white;
    border: rgb(211, 211, 211) 6px solid;
    border-radius: 9px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(172, 212, 212, 0.4);
    transition: 0.4s;
    text-align: center;
}
.aboutMeInfoHolder:hover {
    transform: scale(1.03) rotate(0.5deg);
    border: silver 6px solid;
    background-color: rgba(172, 212, 212, 0.65);
    transition: 0.4s;
}

.aboutTitle{
    font-size: 30px;
    margin: 20px 0 0 0;
}
.aboutMe {
    font-size: 20px;
    padding: 10px 10px 0 10px;
}

@media (max-width: 1100px) {
    #article-aboutMe {
        width: 100vw;
        height: 1200px;
        
        display: flex;
        justify-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .aboutMeInfoHolder {
        margin-top: 60px;
    }
    .aboutMePhoto {
        margin: 0;
    }

}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ About me portion ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvv My work portion vvvvvvvvvvvvvvvvvvvvvvvvvvvv */

#myWork {
    width: 100vw;
    height: 1800px;
    margin: 0;

    background-image: url("https://wallpapercave.com/wp/wp9240359.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleHolderMyWork {
    width: 500px;
    height: 95px;
    margin-bottom: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border: rgb(179, 206, 215) 6px solid;
    box-sizing: border-box;
    border-radius: 9px;
    font-size: 21px;
    transition: 0.3s;
}
.titleHolderMyWork:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.workHolder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 80px;
}
.aboutProjects {
    width: 500px;
    height: 250px;
    margin: 0px;

    border: rgb(179, 206, 215) 6px solid;
    box-sizing: border-box;
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    color: white;
    text-align: center;
}
.aboutProjects:hover {
    transform: scale(1.03) rotate(-0.5deg);
    background-color: rgba(0, 0, 0, 0.7);
    border: rgb(126, 142, 148) 6px solid;
    transition: 0.3s;
}

.titleMyWork {
    font-size: 30px;
    padding-bottom: 13px;
    margin: 0;
}
.textMyWork {
    font-size: 17.2px;
    padding: 0 12px 0 12px;
    margin: 0;
}
.projectImage {
    width: 400px;
    height: 400px;
    margin: 0;
    transition: 0.4s;

    border: rgb(179, 206, 215) 6px solid;
    border-radius: 9px;
    box-sizing: border-box;
}
.projectImage:hover {
    transform: scale(1.15);
    border: rgb(126, 142, 148) 6px solid;
    transition: 0.4s;
}

@media(max-width: 1170px) {
    #myWork {
        height: 2780px;
    }
    .titleHolderMyWork {
        margin: 35px;
    }
    .workHolder {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 0px;
    }
    .projectImage {
        margin: 0;
    }
    .aboutProjects {
        margin: 0;
    }
    .aboutProjects:hover {
        transform: rotate(0deg) scale(1.03);
    }
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ My work portion ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvv Contact information portion vvvvvvvvvvvvvvvvvvvvvvvvvvvv */

#contactInfo {
    width: 100vw;
    height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;

    background-color: rgb(0, 0, 27);
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.moreImportant {
    font-size: 19px;
}

.contactIcons {
    width: 60px;
    height: 40px;
}

.iconsHolder {
    display: flex;
    align-items: center;
}