header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
}

ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

li {
    list-style: none;
    transition: transform 0.5s;
}

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvv Animations for the header vvvvvvvvvvvvvvvvvvvvvvvvvvvv */
.homeButton:hover {
    transform: translateX(-13px) rotate(-3.5deg);
}
.aboutButton:hover {
    transform: translateX(-7px) rotate(-1.5deg);
}
.workButton:hover {
    transform: translateX(7px) rotate(1.5deg);
}
.misButton:hover {
    transform: translateX(13px) rotate(3.5deg);
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(123, 207, 207), 0 0 40px rgb(123, 207, 207), 0 0 50px rgb(123, 207, 207), 0 0 60px rgb(123, 207, 207), 0 0 70px rgb(123, 207, 207);
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px rgb(178, 250, 250), 0 0 40px rgb(178, 250, 250), 0 0 50px rgb(178, 250, 250), 0 0 60px rgb(178, 250, 250), 0 0 70px rgb(178, 250, 250), 0 0 80px rgb(178, 250, 250);
    }
}


a {
    text-decoration: none;
    font-family: monospace;
    font-size: x-large;
    color: white;
    transition: color 0.3s;
}

a:hover {
    color: rgb(178, 250, 250);
    animation: glow 1s ease-in-out infinite alternate;
}

.burger {
    display: none;
}

.check {
    display: none;
}

@media (max-width: 600px) {
    .check {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        opacity: 0;
        cursor: pointer;
    }

    .burger {
        display: block;
    }

    ul {
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        background-color: black;
        margin: 0;
        width: 100vw;
        padding-left: 0;
        align-items: center;
        display: none;
    }
    
    li {
        padding-bottom: 20px;
    }

    .check:checked + ul {
        display: flex;
    }
}

main {
    margin-top: 80px;
}

.cube {
    width: 300px;
    height: 800px;
    background-color: black;
    position: relative;
}

.inner-cube {
    width: 100px;
    height: 100px;
    background-color: rgb(178, 250, 250);
    position: absolute;
    top: 5px;
    right: 5px;
}



